:root {
    --mint: #a1fcdf;
    --pink: #d5aca9;
    --white: #fffcf9;
    --green: #84dccf;
    --red: #ef626c;
    --darkgrey: #312f2f;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', Arial, sans-serif;
}

body {
    background-color: var(--white);
}

/* header styles */

header {
    background-color: var(--white);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.score-btn {
    font-weight: normal;
    font-size: 20px;
    letter-spacing: -1px;
    text-decoration: none;
    color: var(--darkgrey);
    padding: 10px 15px;

    background-color: var(--white);
    border: none;
    border-radius: 10px;
    width: auto;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.score-btn:hover {
    background-color: #568ea3;
    color: var(--white);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    list-style: none;
}

span {
    color: var(--darkgrey);
    font-weight: normal;
    font-size: 20px;
    letter-spacing: -1px;
    padding: 10px 15px;
}

/* questions container */

.container {
    margin: 0px auto;
    padding: 50px;
    display: flex;
    width: 800px;
    max-width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 30px;
}

h2 {
    font-size: 36px;
    letter-spacing: -1px;
    color: var(--darkgrey);
    text-align: left;
    margin-bottom: 20px;
}

.container .intro p {
    text-align: center;
    line-height: 2em;
    margin-bottom: 20px;
}

.container .intro h2 {
    font-size: 44px;
    letter-spacing: -2px;
    color: var(--darkgrey);
    text-align: center;
    margin-bottom: 20px;
}

/* buttons edit */

.btn-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #568ea3;
    border: none;
    border-radius: 10px;
    width: 50%;
    display: inline-block;
    color: var(--white);
    font-size: 22px;
    margin: 10px;
    padding: 15px 60px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: #95bfce;
}

.container .navigate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.start-btn {
    font-size: 30px;
    font-weight: bold;
    padding: 20px 60px;
}

.hide {
    display: none;
}
  
button[disabled] {
    cursor: default;
    background: #c0c7cf;
}

/* footer styles */

footer {
    margin: 50px auto;
    font-size: 40px;
    letter-spacing: -1px;
    text-align: center;
    font-weight: none;
}

footer.correct {
    color: var(--green);
}

footer.wrong {
    color: var(--red);
}