:root {
    --mint: #a1fcdf;
    --pink: #d5aca9;
    --white: #fffcf9;
    --green: #84dccf;
    --red: #ef626c;
    --darkgrey: #312f2f;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', Arial, sans-serif;
}

body {
    background-color: var(--white);
}

header {
    background-color: var(--white);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 a {
    font-weight: normal;
    font-size: 20px;
    letter-spacing: -1px;
    text-decoration: none;
    color: var(--darkgrey);
    margin: 0;
    padding: 10px 15px;
}

header h1 a:hover {
    color: var(--white);
    background-color: var(--red);
    border-radius: 10px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 18px;
    transition: color 1.5s ease-in-out 0s;
}

header nav ul li a:hover {
    color: var(--green);
    border-bottom: var(--red);
}

.container {
    margin: 0px auto;
    padding: 50px;
    display: flex;
    width: 800px;
    max-width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 30px;
}

#question {
    font-size: 44px;
    letter-spacing: -2px;
    color: var(--darkgrey);
    text-align: center;
    margin-bottom: 20px;
}

.btn-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #568ea3;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    display: inline-block;
    color: var(--white);
    font-size: 22px;
    line-height: 22px;
    margin: 20px;
    padding: 15px 60px;
    text-align: center;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #95bfce;
  }

  .btn.correct {
    background-color: var(--green);
  }

  .btn.wrong {
    background-color: var(--red);
}

.navigate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn, .next-btn {
    font-size: 30px;
    font-weight: bold;
    padding: 20px 60px;
}

.hidden {
    display: none;
}
  
button[disabled] {
    cursor: default;
    background: #c0c7cf;
}

footer {
    margin: 50px auto;
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: center;
}

footer a {
    color: #568ea3;
    text-decoration: none;
    padding: 5px;
}

footer a:hover {
    color: var(--white);
    background-color: #568ea3;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;

}